
.container {
    border-radius: 15px;
    margin: 5% auto;
    width: 650px;
    height: 800px;
    background-color: #9AD1D4;
}

#text {
    width: 94%;
    height: 30px;
    margin: 2%;
}

.all-buttons {
    width: 80%;
    height: 80%;
    float: left;
}

.numbers button{
    font-size: 2.5em;
    width: 120px;
    height: 120px;
    margin: 8px;
    background-color: #CCDBDC;
    border-radius: 100%;
}

.numbers {
    margin: 10% 10%;
    width: 450px;
    height: 600px;
}

.number-options {
    float: right;
}

.operators{
    float: left;
    width: 19%;
    margin: 10% 0 0 -5%;
}

.operators button {
    border-radius: 100%;
    background-color: #80CED7;
    font-size: 2.5em;
    margin: 5px;
    width: 120px;
    height: 120px;
}

.clear {
    clear: both;
}