<div class="container">
  <input matInput disabled type="text" id="text">
  <div class="all-buttons">
    <div class="numbers">
      <button mat-button>1</button>
      <button mat-button>2</button>
      <button mat-button>3</button>
      <button mat-button>4</button>
      <button mat-button>5</button>
      <button mat-button>6</button>
      <button mat-button>7</button>
      <button mat-button>8</button>
      <button mat-button>9</button>
      <button mat-button>0</button>
      <div class="number-options">
        <button mat-button>.</button>
        <button mat-button><mat-icon fontIcon="arrow_back"></mat-icon></button>
      </div>
    </div>
  </div>
    <div class="operators">
      <button mat-button>+</button>
      <button mat-button>-</button>
      <button mat-button>*</button>
      <button mat-button>/</button>
    </div>
  <div class="clear"></div> 
  <div class="resolve">
    <button mat-button>C</button>
    <button mat-button>=</button>
  </div>
</div>